streamlit
langchain
langchain-core
langchain-openai
langchain-community
langgraph
openai
python-dotenv
faiss-cpu
sentence-transformers
huggingface-hub
transformers
pypdf
duckduckgo-search==5.3.1
ddgs
requests
langgraph-checkpoint-sqlite

